<div id="confirmationModal" class="confirmation-modal-overlay">
  <div class="confirmation-modal">
    <div class="confirmation-modal-icon">
      <i class="bi"></i>
    </div>
    <div class="confirmation-modal-header">
      <h3></h3>
    </div>
    <div class="confirmation-modal-body">
      <p></p>
    </div>
    <div class="confirmation-modal-actions">
    </div>
  </div>
</div>