# Node.js
node_modules/         
npm-debug.log*         
yarn-debug.log*         
yarn-error.log*
package-lock.json     

# Logs
logs/
*.log
debug.log
error.log
*.pid
*.pid.lock

# Ambiente de desenvolvimento
.DS_Store              
Thumbs.db               
*.swp                 
.idea/                 
.vscode/          
.mp4
      

# Sistema operacional
*.bak                  
*.tmp                   

# Builds e arquivos temporários
dist/                   
coverage/              
*.out              
XML/