<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StreamBoard • Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css?v=<%= appVersion %>" />
  </head>
  <body class="dashboard">
    <%- include("partials/navbar") %> <%- include("partials/footer") %>
  </body>
</html>
