<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
  </head>
  <body class="sb-body">
    <form id="loginForm" class="sb-form">
      <img src="/assets/logo.png" alt="Logo" class="sb-logo" />

      <div class="sb-input-icon">
        <i class="bi bi-person"></i>
        <input type="text" name="username" required class="sb-input" />
      </div>

      <div class="sb-input-icon">
        <i class="bi bi-lock"></i>
        <input type="password" name="password" required class="sb-input" />
      </div>

      <button type="submit" class="sb-button">Entrar</button>
      <p id="responseMessage" class="sb-response-message"></p>
    </form>

    <script src="/js/login.js"></script>
    <%- include("partials/footer") %>
  </body>
</html>
