<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consulta de Preços</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Chakra+Petch:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css?v=<%= appVersion %>" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="player-body">
    <div id="price-view-wrapper">
      <div id="idle-screen">
        <div id="offer-container"></div>
        <div class="background-image"></div>
      </div>

      <div class="price-check-view" id="price-check-card" style="display: none">
        <div class="price-check-loader" id="loader">
          <div class="spinner"></div>
        </div>
        <div class="price-check-content" id="price-content">
          <svg
            class="mystery-product-svg"
            viewBox="0 0 90 200"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect x="5" y="5" width="80" height="190" rx="20" />
          </svg>
          <div class="product-description">
            <h2 id="product-name"></h2>
          </div>
          <div class="product-price">
            <span class="price-currency">R$</span>
            <span class="price-value" id="product-price"></span>
          </div>
          <div class="product-code">
            <span id="product-barcode"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="price-check-footer">
      <svg
        class="footer-icon-svg"
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
      <span>Aponte o código de barras para o leitor</span>
    </div>

    <script>
      const offersData = <%- JSON.stringify(offers || []) %>;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>
    <script type="module" src="/js/player/price.js?v=<%= appVersion %>"></script>
  </body>
</html>